body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  color: white;
}

h1 {
  text-transform: uppercase;
}

.stuur {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 0px;
  transition-duration: 0.4s;
  color: white;
  background-color: grey;
}

.stuur:hover {
  transition-duration: 0.4s;
  color: grey;
  background-color: white;
}

.text {
  max-width: 500px;
  width: 500px;
  min-width: 400px;
  max-height: 150px;
  min-height: 150px;
  border-radius: 10px;
}

.background {
  background: rgb(48,50,46);
  background: linear-gradient(171deg, rgba(48,50,46,1) 0%, rgba(29,37,42,1) 59%, rgba(26,35,42,1) 84%, rgba(22,32,41,1) 100%);
  position: fixed;
  height: 150%;
  margin-top: -10%;
  width: 100%;
  z-index: -1;
}
